@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body {
	font-family: sans-serif;
}

p {
	margin: 10px 0;
}

#header {
	height: 800px;
	background: url('../img/header_bg_image.jpg');
	overflow: hidden;
	background-attachment: fixed;

	.nav {
		width: 100%;
		background: #000;
		list-style: none;
		color: #fff;
		text-align: center;
		padding: 10px;
		position: fixed;
	}

	.nav li {
		padding: 5px;
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		border-radius: 5px;
		transition: background-color 0.5s ease;
	}

	.nav li:hover {
		background-color: green;
	}

	.nav a {
		color: #fff;
		text-decoration: none;
	}

	.banner {
		width: 750px;
		margin: 0px auto;
		margin-top: 125px;
		color: #fff;
		text-align: center;
		font-size: 80px;
		font-weight: bolder;
	}

		.banner p {
		margin: 0px;
	}

	.banner .sub-title {
		margin-top: 0px;
		border-top: solid 1px #fff;
	}
}

.content {
	width: 980px;
	margin: 0 auto;
	padding: 50px 0px 50px 0;
	overflow: hidden;
}

.left-column {
	float: left;

	.title {
		margin-top: 0px;
		font-size: 24px;
		font-weight: bold;
	}
}


.right-column {

	width: 700px;
	float: right;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		margin: 0 0 10px 0;
	}

	article:not(:last-child) {
		margin-bottom: 30px;
	}

}

#about {
	background: #2b2b2b;

	.avatar {
		width: 200px;
		height: 200px;
		background: url('../img/avatar.jpg');
		background-size: 125% auto;
		background-position: -50px -50px;
		border-radius: 100%;
	}

	.description {
		margin-top: 0px;
	}

	.description h2 {
		margin-bottom: 10px   ;
		color: #fff;
	}

	.description p {
		line-height: 25px;
		color: #7a7a7a;
	}

}


#interests, #skills { 
	.content {
		border-bottom: solid 1px #ddd;
	}
}

.skill-bar {
	width: 700px;
	height: 50px;
	margin-bottom: 25px;
	background: #ccc;
	border-radius: 3px;
}

.skill-bar-foreground {
	height: 50px;
	display: block;
	background: #2b2b2b;
	border-radius: 3px;
}

.skill-html5 {	width: 600px; }
.skill-css3 {	width: 520px; }
.skill-javascript {	width: 650px; }
.skill-python {	width: 400px; }
.skill-photoshop {	width: 450px; }

.hack {
	width: 200px;
	height: 200px;
	margin-bottom: 150px;

	img {
		width: 500px;
		height: 303px;
		border: solid 1px #ccc;
	}

	p {
		display: none;
	}

}


#footer {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 12px;
	text-align: center;
	color: #999;
}


.transparentScreen {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.modal {
	width: 1300px;
	height: 700px;
	background: #fff;
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	z-index: 9999;
	display: none;

	.imgArea, .description {
		display: inline-block;
	}

	.imgArea {
		width: 1000px;
		height: 700px;
		background: #000;
		position: relative;
		display: table;

		.listContainer {
			display: table-cell;
			vertical-align: middle;
		}
	}

	ul {
		width: 950px;
		height: 575px;
		margin: 0 auto;
		background: red;
	}

	li {
		position: absolute;

		& > li:not(.active) {
			display: none;
		}
	}

	img {
		width: 950px;
		height: 575px;
	}

	.arrows {
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		z-index: 3000;
		cursor: pointer;
	}

	.rightArrow {
		right: 30px;
	}

	.leftArrow {
		left: 30px;
	}

	.imgAreaContainer, .description {
		float: left;
	}

	.description {
		width: 250px;
		height: 700px;
		position: relative;
		padding: 10px;
		height: 100px;
	}

}
